@media (min-width: 1024px){
    .m-content-link{
        position: absolute;
        transform: translateY(-500%);
     }
     .m-content-link:focus{
         position: relative;
         transform: translateY(0%);
         
     }
     
     #main-content{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-column-gap: 1%;

     }
}