body {
  background-color: #161618;
  color: white;
}


a:visited {
  text-decoration: none; 
  color: white; 
}

nav ul {
  width: 98%;
  text-align: center;
  padding: 0;
}

nav li {
  margin-bottom: 7px;
  margin-right: 2%;
  display: inline-block;
}

h1 {
  font-size: 400%;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}

h2 {
  font-size: 250%;
  color: #3e6493;
  font-family: Georgia, "Times New Roman", Times, serif;
}

h3 {
  font-size: 120%;
  color: #9dc7cd;
  font-family: serif;
}

p {
  line-height: 175%;
}

img {
  border: solid 5px #ecaa5f;
  padding: 10px;
  margin: 20px;
  border-top-right-radius: 30px;
}

ul {
  display: inline-block;
  margin-left: 30px;
}

@media only screen and (max-width: 600px){
  body{
    overflow-x: hidden;
    height: 100%;
  }
  
  nav{
    width: 100%;
    
  }
  nav ul {
    margin-left: 0;
    align-items: center;
  }
  nav li {
    font-size: 130%;
    margin-bottom:  5%;
    width: 100%;
    padding-top: 2%;
    padding-bottom: 2%;

  }
  .m-content-link{
    display: none;
  }
  h2 {
    text-align: center;
    margin-bottom: 10px;
  }
  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  .main-img{
    width: 70%;
    margin-left: 10%;
    animation: fadeIn 5s;
  }
  @media (prefers-reduced-motion){
    .main-img{
      width: 70%;
      margin-left: 10%;
    }
  }
  h3{
    text-align: center;
  }
  .grid-container{
    display: grid;
    grid-template-columns: auto auto;
  }
  .grid-item{
    width: 70%;
  }

  .likes {
    width: 90%;
  }
}